<span class="index">Índice</span>
<ul class="biblia">
    <li class="testament" *ngFor="let testament of bible">
        <span (click)="showTestament(testament)">{{testament.name}}</span>
        <ul *ngIf="visibleTestament==testament.name">
            <li class="book" *ngFor="let book of testament.books">
                <span (click)="showBook(book)">{{book.name}}</span>
                <ul *ngIf="visibleBook==book.name">
                    <li (click)="showChapter(book, chapter)" class="chapter" *ngFor="let chapter of book.chapters">
                        <span *ngIf="chapter<100">&nbsp;&nbsp;</span><span *ngIf="chapter<10">&nbsp;&nbsp;</span>{{chapter}}&nbsp;&nbsp;
                        <br *ngIf="chapter%10==0"/>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<span class="chapterTitle">{{chapterTitle}}</span>
<div [innerHTML]="chapterText" class="chapterText"></div>